---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
//@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');



@import url('https://fonts.googleapis.com/css2?family=Actor&family=Overpass&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');


.site-title {
  font-family: 'PT Sans Narrow', sans-serif;
}

.archive__item-title{
  font-size: 1.4em;
}

.archive__item a[rel="permalink"]{
  color: mix(#fff, #666d72, 7%);
}

.archive__item {
  a:hover{
    color: #79b7cc;
  }

  a:visited{
    color: mix(#fff, #666d72, 15%);
  }
}

.archive__subtitle{
  padding-bottom: 1em;
  color: #5f85b9;
}
